.header_wrapper{
  background: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_wrapper h1{
  font-size: 30px;
  padding: 20px;
}
.header_nav-wrapper{
  display: flex;
  flex-direction: row;
}
.header_nav-wrapper p{
  color: white;
  padding: 30px;
  font-weight: bolder;
}
.header_nav-wrapper a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}