.login-wrapper{
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* background: orange; */
}
.login-wrapper div{
  background: #ccc;
  padding: 20px;
  margin: 150px auto;
  width: 320px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 15px;
}
.login-wrapper p{
  margin-top: 20px;
}
.login-wrapper input{
  margin-bottom: 20px;
}
.login-wrapper button{
  margin: 20px;
}